@page
@model AzureServerlessDemo.Web.Pages.Triggers.WorkflowPageModel

@{
    ViewData["Title"] = "Workflow data";
}

<h1>Workflow loaded</h1>

<p>Click on below items to test out functionalities of trigger based serverless options</p>
<div class="row row-cols-3 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Simple workflow</h5>
                <p class="card-text">Send information about the usage to users</p>
                <button class="btn btn-primary"
                        hx-get="@Model.SimpleWorkflowUrl"
                        hx-indicator="#indicatorSimple"
                        hx-swap="innerHTML">
                    Send information about the usage to users
                </button>
                <img alt="Spinner to showcase result in timely matter to get data"
                     class="htmx-indicator"
                     id="indicatorSimple"
                     src="~/spinners/spinner.svg" />
            </div>
            <div class="card-footer">
                <small class="text-muted">Function URL: @Model.SimpleWorkflowUrl</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Enhanced workflow</h5>
                <p class="card-text">Send information about the usage to users with collectors</p>
                <button class="btn btn-primary"
                        hx-get="@Model.EnhancedWorkflowUrl"
                        hx-indicator="#indicatorEnhanced"
                        hx-swap="innerHTML">
                    Send enhanced information to users
                </button>
                <img alt="Spinner to showcase result in timely matter to get data"
                                     class="htmx-indicator"
                                     id="indicatorEnhanced"
                                     src="~/spinners/spinner.svg" />
            </div>
            <div class="card-footer">
                <small class="text-muted">Function URL: @Model.EnhancedWorkflowUrl</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Tighter integration</h5>
                <p class="card-text">Tighter integration with services</p>
                <button class="btn btn-primary"
                        hx-get="@Model.TighterIntegration"
                        hx-indicator="#indicatorTighter"
                        hx-swap="innerHTML">
                    Show tighter integration with services
                </button>
                <img alt="Spinner to showcase result in timely matter to get data"
                                                     class="htmx-indicator"
                                                     id="indicatorTighter"
                                                     src="~/spinners/spinner.svg" />
            </div>
            <div class="card-footer">
                <small class="text-muted">Function URL: @Model.TighterIntegration</small>
                <br />
                <a asp-page="/Triggers/Logs">Check logs </a><i class="fas fa-clipboard-list"></i>
            </div>
        </div>
    </div>
</div>

<p class="text-info mt-3">
    Spinners are from <a href="https://github.com/SamHerbert/SVG-Loaders">https://github.com/SamHerbert/SVG-Loaders</a>.
</p>

@section Scripts
{
    <script crossorigin="anonymous"
            integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW"
            src="https://unpkg.com/htmx.org@1.6.1"></script>
}