@page
@model AzureServerlessDemo.Web.Pages.Triggers.WorkflowPageModel

@{
    ViewData["Title"] = "Workflow data";
}

<h1>Workflow loaded</h1>

<p>Click on below items to test out functionalities of trigger based serverless options</p>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card"
             style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Simple workflow</h5>
                <p class="card-text">Send information about the usage to users</p>
                <button class="btn btn-primary"
                        hx-get="@Model.SimpleWorkflowUrl">
                    Send information about the usage to users
                    <img alt="Spinner to showcase result in timely matter to get data"
                         class="htmx-indicator"
                         src="~/spinners/spinner.svg" />
                </button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Function URL: @Model.SimpleWorkflowUrl</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card"
             style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Enhanced workflow</h5>
                <p class="card-text">Send information about the usage to users with collectors</p>
                <button class="btn btn-primary"
                        hx-get="@Model.EnhancedWorkflowUrl">
                    Send information about the usage to users
                    <img alt="Spinner to showcase result in timely matter to get data"
                         class="htmx-indicator"
                         src="~/spinners/spinner.svg" />
                </button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Function URL: @Model.EnhancedWorkflowUrl</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card"
             style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Tighter integration</h5>
                <p class="card-text">Tighter integration with services</p>
                <button class="btn btn-primary"
                        hx-get="@Model.TighterIntegration">
                    Show tighter integration with different services
                    <img alt="Spinner to showcase result in timely matter to get data"
                         class="htmx-indicator"
                         src="~/spinners/spinner.svg" />
                </button>
            </div>
            <div class="card-footer">
                <small class="text-muted">Function URL: @Model.TighterIntegration</small>
                <br/>
                <a asp-page="/Triggers/Logs">Check logs <span class="glyphicon-class">glyphicon glyphicon-list-alt</span></a>
            </div>
        </div>
    </div>
</div>

<p class="text-info mt-3">
    Spinners are from <a href="https://github.com/SamHerbert/SVG-Loaders">https://github.com/SamHerbert/SVG-Loaders</a>.
</p>

@section Scripts
{
    <script crossorigin="anonymous"
            integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW"
            src="https://unpkg.com/htmx.org@1.6.1"></script>
}